@page
@model QR_Material_Scanner.Pages.ChangePasswordModel
@{

    Layout = "~/Pages/Shared/_Plain.cshtml";
}
<!-- App Capsule -->
<div id="appCapsule">

    <div class="login-form">
        <div class="section">
            <h1>Change Password</h1>
            <h4>Type your email to reset your password</h4>
        </div>
        <div class="section mt-2 mb-5">
            <form method="post">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.AntiForgeryToken()

                @*<div class="form-group boxed">
            <div class="input-wrapper">
                @Html.TextBoxFor(m => m.Input.Email, new { @class = "form-control", @placeholder = "Email address" })
                @Html.ValidationMessageFor(m => m.Input.Email, "", new { @class = "text-danger" })
                <i class="clear-input">
                    <ion-icon name="close-circle"></ion-icon>
                </i>
            </div>
        </div>*@

                <div class="form-group boxed">
                    <div class="input-wrapper">
                        @Html.TextBoxFor(m => m.Input.CurrentPassword, new { @class = "form-control", @placeholder = "Current Password" })
                        @Html.ValidationMessageFor(m => m.Input.CurrentPassword, "", new { @class = "text-danger" })
                        <i class="clear-input">
                            <ion-icon name="close-circle"></ion-icon>
                        </i>
                    </div>
                </div>
                <div class="form-group boxed">
                    <div class="input-wrapper">
                        @Html.PasswordFor(m => m.Input.NewPassword, new { @class = "form-control", @placeholder = "New Password" })
                        @Html.ValidationMessageFor(m => m.Input.NewPassword, "", new { @class = "text-danger" })
                        <i class="clear-input">
                            <ion-icon name="close-circle"></ion-icon>
                        </i>
                    </div>
                </div>
                <div class="form-group boxed">
                    <div class="input-wrapper">
                        @Html.TextBoxFor(m => m.Input.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                        @Html.ValidationMessageFor(m => m.Input.ConfirmPassword, "", new { @class = "text-danger" })
                        <i class="clear-input">
                            <ion-icon name="close-circle"></ion-icon>
                        </i>
                    </div>
                </div>

                <div class="form-button-group">
                    <button type="submit" class="btn btn-primary btn-block btn-lg">Update</button>
                </div>

            </form>
        </div>
    </div>



</div>
<!-- * App Capsule -->
